<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AdWatching.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C0F2A55F1CA68B0A00D03EF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0F2A56D1CA68B2100D03EF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0F8D8BE1CA30C6D0088E429</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0F8D8D21CA30C6E0088E429</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0F8D8DD1CA30C6E0088E429</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
